[submodule "Communication/lib/WiFiManager"]
	path = Communication/lib/WiFiManager
	url = https://github.com/tzapu/WiFiManager.git
[submodule "Communication/lib/ArduinoJson"]
	path = Communication/lib/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson.git
[submodule "Communication/lib/arduinoWebSockets"]
	path = Communication/lib/arduinoWebSockets
	url = https://github.com/Links2004/arduinoWebSockets.git
[submodule "Blockly/lib/blockly"]
	path = Blockly/lib/blockly
	url = https://github.com/google/blockly.git
[submodule "Reflection/lib/rttr"]
	path = Reflection/lib/rttr
	url = https://github.com/rttrorg/rttr.git
[submodule "Reflection/lib/ponder"]
	path = Reflection/lib/ponder
	url = https://github.com/billyquith/ponder.git
